/* style for all pages */
* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: gray;
}
body {
  background-color: lightblue;
  box-shadow: 0 0 12px -2px black;
  max-width: 960px;
  margin: auto;
}
.br {
  background-color: lightblue;
}
.main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  background-color: lightblue;
}

.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  align-items: center;
  background-color: lightblue;
  box-shadow: 0 0 12px -2px black;
  max-height: 5rem;
}

.nav-items {
  background-color: lightblue;
  float: left;
  margin: 15px;
  text-decoration: none;
  color: black;
}

.nav-bar :hover {
  background-color: lightblue;
  margin: 20px;
  padding: 10px;
}

.main-header {
  background-color: lightblue;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.sub-header {
  background-color: lightblue;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  font-size: xx-large;
}

p {
  background-color: lightblue;
}
/* end of style for all pages */

/* style for index page only */
.name {
  float: right;
  vertical-align: top;
  padding-top: 17px;
  padding-right: 17px;
  font-weight: bolder;
  background-color: lightblue;
  text-decoration: none;
  color: black;
}
/* syle for photo on index page */
#jason {
  float: right;
  box-shadow: 0 0 12px -2px black;
  margin-top: 3rem;
  height: 440px;
  width: 340px;
  margin-left: 10px;
}
#quote {
  font-family: cursive;
  font-size: large;
  font-weight: bold;
}

#github-index {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
  float: right;
  margin-top: 17px;
  margin-right: 15px;
}

#linkedin-index {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
}
/* end of style for index page only */

/* for about page only */
.sub-header-about {
  background-color: lightblue;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  font-size: xx-large;
  border-top: solid black 2px;
}

.about-photos {
  float: right;
  box-shadow: 0 0 12px -2px black;
  height: 150px;
  width: 200px;
  image-rendering: optimizeQuality;
  margin-right: 6px;
}

#github-about {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
  float: right;
  margin-top: 17px;
  margin-right: 15px;
}

#linkedin-about {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
}
/* end of for about page only */

/* style for portfolio page only */

.port-photos {
  margin: 15px;
  image-rendering: optimizeQuality;
  height: 200px;
  width: 300px;
}
.project {
  box-shadow: 0px 0px 10px -3px black;
  background-color: lightblue;
  height: 350px;
  margin: 15px;
}

#second-project {
  float: right;
  margin: 10px;
}

#linkedin-Portfolio {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
}

#github-portfolio {
  height: 30px;
  margin-right: 8px;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
  float: right;
  margin-top: 17px;
  margin-right: 15px;
}
/* end of style of portfolio page only */

/* syle for form page */
.form {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.form-item {
  background-color: lightblue;
}

#Your-Name {
  background-color: white;
  width: 300px;
}
#Your-email {
  background-color: white;
  width: 300px;
}
#message {
  background-color: white;
  width: 300px;
  height: 200px;
}
#Submit {
  margin: 40px;
}
/* end of style for form page */
